<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Relief Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
             

                      <li class="nav-item">
                          <a class="nav-link" href="#">Home
                              <span class="sr-only">(current)</span>
                          </a>
                      </li>
                      <li *ngIf="auth.isLoggedIn()" ngbDropdown class="nav-item dropdown">
                          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Area
          
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">

                              <li class="dropdown-submenu">
                                  <a  class="dropdown-item" tabindex="-1" href="#">Division</a>
                                  <ul ngbDropdownMenu class="dropdown-menu">
              
                                    <a class="dropdown-item" [routerLink]="['/division/add']">Add Division</a>
                              <a class="dropdown-item" [routerLink]="['/division/show']">Show Division</a>
                                  </ul>
                                </li>


                              <li class="dropdown-submenu">
                                  <a  class="dropdown-item" tabindex="-1" href="#">District</a>
                                  <ul ngbDropdownMenu class="dropdown-menu">
              
                                    <a class="dropdown-item" [routerLink]="['/district/add']">Add District</a>
                              <a class="dropdown-item" [routerLink]="['/district/show']">Show District</a>
                                  </ul>
                                </li>
                                
                              <li class="dropdown-submenu">
                                  <a  class="dropdown-item" tabindex="-1" href="#">Uazilla</a>
                                  <ul ngbDropdownMenu class="dropdown-menu">
              
                                    <a class="dropdown-item" [routerLink]="['/upazilla/add']">Add Upazilla</a>
                              <a class="dropdown-item" [routerLink]="['/upazilla/show']">Show Upazilla</a>
                                  </ul>
                                </li>

                                
                              <li class="dropdown-submenu">
                                  <a  class="dropdown-item" tabindex="-1" href="#">Union</a>
                                  <ul ngbDropdownMenu class="dropdown-menu">
              
                                    <a class="dropdown-item" [routerLink]="['/union/add']">Add Union</a>
                              <a class="dropdown-item" [routerLink]="['/union/show']">Show Union</a>
                                  </ul>
                                </li>
                          </div>
                      </li>
                      

                      <li *ngIf="auth.isLoggedIn()" ngbDropdown class="nav-item dropdown">
                          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Disaster
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" [routerLink]="['/disaster/add']">Add Disaster</a>
                              <a class="dropdown-item" [routerLink]="['/disaster/show']">Show Disaster</a>
                          </div>

                      </li>
                      <li *ngIf="auth.isLoggedIn()" ngbDropdown class="nav-item dropdown">
                          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              Organization
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" [routerLink]="['/organization/add']">Add Organization</a>
                              <a class="dropdown-item" [routerLink]="['/organization/show']">Show Organization</a>
                              
                          </div>

                      </li>
                      <li *ngIf="auth.isLoggedIn()" ngbDropdown class="nav-item dropdown">
                              <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  Relief
                              </a>
                              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" [routerLink]="['/relief/add']">Add Relief</a>
                                  <a class="dropdown-item" [routerLink]="['/relief/show']">Show Relief</a>
                              </div>

                          </li>

                 
                      <li class="nav-item">
                              <a class="nav-link js-scroll-trigger" href="#about">About</a>
                          </li>
             
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#services">Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
              <button *ngIf="auth.isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="auth.logout()">log out</button>
              <button *ngIf="!auth.isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']">log in</button>
          </ul>
      </div>
  </div>
</nav>